<div id="wrapper">
  <div id="sidebar">
  <a class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <!--<div id="logo"> <a href="/"><img src="" alt="logo" /></a> </div>-->
  <nav id="nav" class="navigation" role="navigation">
    <ul class="unstyled">
      <li class="active" data-section="1"><i><img src="../img/home.png"></i> <span>Home</span></li>
      <li data-section="2" class=""><i><img src="../img/user.png"></i> <span>About</span></li>
      <li data-section="3" class=""><i><img src="../img/laptop.png"></i> <span>Resume</span></li>
      <li data-section="4" class=""><i><img src="../img/pencil.png"></i> <span>Social</span></li>
      <li data-section="5" class="last"><i><img src="../img/envelope.png"></i> <span>Contact</span></li>
    </ul>
  </nav><!-- /nav -->
</div><!-- /sidebar -->
<div id="container">
  <section class="section" id="section1" data-section="1">
    <div class="container-fluid">	
      <div class="row-fluid">
        <div class="alt-image img-circle thumb">
	  <img src="img/thumb.jpg" alt="Your Name" class="img-circle">
	</div>
	<div class="span6 intro">
	  <hgroup>
	    <h1>Hello There!</h1>
	    <h3>I am a software developer living in Delhi.</h3>
	  </hgroup>
	  <button class="btn-inverse" data-section="2">
	    Learn <span>More</span>
	    <i><img src="../img/arrow-down.png"></i>
	  </button>
	</div><!-- /span6 -->
      </div><!-- /row-fluid -->
    </div><!-- /container-fluid -->	
  </section><!-- /section -->
  <section class="section" id="section2" data-section="2">
    <div class="container-fluid">
      <div class="row-fluid title">
	<div class="span3">
	  <h2>About</h2>
	</div><!-- /span3 -->
	<div class="span9 hidden-phone"><hr></div><!-- /span9 -->
      </div><!-- /row-fluid -->
      <div class="row-fluid desc">
	<div class="span8">
	  <p>I am a web developer and web designer living in Delhi, INDIA. I have completed my B.Tech (Computer Science & Engineering) in 2011 from U.N.S.I.E.T Veer Bahadur Singh Purvanchal University Jaunpur.</p>
	</div><!-- /span8 -->
      </div><!-- /row-fluid -->
      <div class="row-fluid content hidden-tablet">
        <div class="span12 expand">
	  <div class="row-fluid">
	    <div class="span8">
	      <table style="width:100%;">
	        <tr>
		 <th style="float:left">Name:</th>
		 <td>Mohd Shahid</td>
		</tr>
		<tr>
		 <th style="float:left">Age:</th>
		 <td>25</td>
		</tr>
		<tr>
		 <th style="float:left">Location:</th>
		 <td>Delhi, India</td>
		</tr>
		<tr>
		 <th style="float:left">Occupation:</th>
		 <td>Software Developer</td>
		</tr>
		<tr>
		 <th style="float:left">Hobbies & Interests:</th>
		 <td>cinema, traveling, computing and photography.</td>
		</tr>
		<tr>
		 <th style="float:left">Favorite things:</th>
		 <td><u><i>Music</i></u>: &nbsp;&nbsp; bodyguard, rubnebanadijodi, Best Songs Of Atif Aslam, Best Songs Of sonu nigam <br/>
		 <u><i>Films</i></u>: &nbsp;&nbsp; Lord of the Rings, James Bond, The Birds, The Mask, The Matrix<br />
		 <u><i>Place</i></u>: &nbsp;&nbsp; Any place where I’m happy
		 </td>
		</tr>
	      </table>
	      </div><!-- /span4 -->
	      <div class="span4">
	        <!-- CHART N 3 -->
		
		<!-- END CHART N 3 -->
	      </div><!-- /span4 -->
	    </div><!-- /row-fluid -->	
	  </div><!-- /span12 -->
	</div><!-- /row-fluid -->
      </div><!-- /container -->
    </section><!-- /section -->	
    
    <section class="section" id="section3" data-section="3">
      <div class="container-fluid">
	<div class="row-fluid title">
	  <div class="span4">
	    <h2>Resume</h2>
	  </div><!-- /span4 -->
	  <div class="span8 hidden-phone alt"><hr>
	  </div><!-- /span8 -->
	</div>
	<div class="row-fluid desc">
	  <div class="span8">
	    <h3>SUMMARY</h3>
	    <p>To obtain a career with an organization having a strong background where I can grow professionally and be rewarded financially, where employees have mutual respect for each other, which would help me increasing my technical skills.</p>
	    <h3>EXPERIENCE</h3>
	    <u><b> Tech India Line</b></u>
	    <p>6 months Experience in   Asp.net , C# (Software Developer Trainee)</p>
	    <u><b>Win Spirit it solution</b></u>
	    <p>4 month Exp in Asp.net, c# ( Software Developer )</p>
	    <u><b> Sky Web Solution</b></u>
	    <p>4 month Exp in html, css, Jquery,  Photoshop, Flash,( Software Developer )</p>
	    <u><b>Beryl systems</b></u>
	    <p>6 month Exp in Ruby on Rails , MySQL, bootstrap, html-5, css3, Angularjs</p>
	    <h3>EDUCATION</h3>
	    <b>B.Tech(Computer Science  Engineering)</b><br />
	    <i>2007-2011</i>
	    <p>U.N.S. Institute of Engineering & Technology, V.B.S. Purvanchal University</p>
	    <h3>SKILLS</h3>
	    <ul>
	      <li>C, C++</li>
	      <li>ASP.NET</li>
	      <li>HTML5, CSS3, BOOTSTRAP, JQUERY</li>
	      <li>RUBY ON RAILS, MYSQL, POSTGRESQL, HEROKU, GIT</li>
	      <li>PHOTOSHOP, FLASH</li>
	    </ul>
	  </div><!-- /span8 -->
	</div><!-- /row -->		
      </div><!-- /container -->
    </section><!-- /section -->
    
    <section class="section" id="section4" data-section="4">
      <div class="container-fluid">
	<div class="row-fluid title">
	  <div class="span4">
	    <h2>Social</h2>
	  </div><!-- /span4 -->
	  <div class="span8 hidden-phone"><hr>		
	  </div><!-- /span8 -->
	</div><!-- /row-fluid -->
	<div class="row-fluid desc">
	  <div class="span8">
	    <p></p>
	  </div><!-- /span8 -->
	</div><!-- /row-fluid -->
	<div class="row-fluid content">
          <div class="span4">
	    <ul class="article-tags">
	      <li data-blog="blog" class="current"><i class="icon-circle-arrow-right"></i>Blog</li>
	      <li data-blog="dribbble"><i class="icon-circle-arrow-right"></i>Linkedin</li>
	      <li data-blog="instagram"><i class="icon-circle-arrow-right"></i>Google+</li>
	      <li data-blog="github"><i class="icon-circle-arrow-right"></i>GitHub</li>
	    </ul>
	  </div><!-- /span4 -->
	  <div class="span8 slide current" data-blog="blog">
	    <div class="row-fluid">
	      <div class="span6 expand">
                <h4>Blog</h4>
		<p>My Rails Demo</p>
		<div class="pull-right read-more">
		<a href="http://myrailsdemo.blogspot.in"  rel="external">Read More <i><img src="../img/arrow-right.png"></i></a>
	      </div>
	    </div><!-- /span6 -->
	    <div >
	      <h4></h4>
	      <p></p>
	      <!-- <div class="pull-right read-more">
	        <a href="#"  rel="external">Read More <i><img src="../img/arrow-right.png"></i></a>
	      </div> -->
	    </div><!-- /span6 -->
	  </div><!-- /row-fluid -->
	</div><!-- /span8 -->
	<div class="span8 slide" data-blog="dribbble">
	  <div class="row-fluid">
	    <div class="span6 expand">
	      <h4>Linkedin</h4>
	      <p >My Linkedin Profile</p>
	      <div class="pull-right read-more">
	        <a href="http://in.linkedin.com/pub/shahid-ansari/45/897/b78"  rel="external">Read More <i class="icon-double-angle-right"></i></a>
	  </div>
	</div><!-- /span6 -->
	<div >
	  <h4></h4>	  
	  <div class="pull-right read-more">	    
	  </div>
	</div><!-- /span6 -->
      </div><!-- /row-fluid -->
    </div><!-- /span8 -->
    <div class="span8 slide" data-blog="instagram">
      <div class="row-fluid">
	<div class="span6 expand">
	  <h4>GOOGLE+</h4>
	  <p style="text-align:center">My g+ Profile</p>
	  <div class="pull-right read-more"><a href="https://plus.google.com/u/0/109705333250840663559/about">
	    Read More <i class="icon-double-angle-right"></i></a>
	  </div>
	</div><!-- /span6 -->
	<div >
	  <h4></h4>
	  <p style="text-align:center"></p>
	    <div class="pull-right read-more">
	      
	    </div>
	  </div><!-- /span6 -->
	</div><!-- /row-fluid -->
      </div><!-- /span8 -->
      <div class="span8 slide" data-blog="github">
        <div class="row-fluid">
	  <div class="span6 expand">
	    <h4>GitHub Profile</h4>
	    <p>My GitHub Profile</p>
	    <div class="pull-right read-more">
	      <a href="https://github.com/Shahidrox"  rel="external">Read More <i class="icon-double-angle-right"></i></a>
	    </div>
	  </div><!-- /span6 -->
	  <div >
	    <h4></h4>
	    <p></p>
	    <div class="pull-right read-more">
	      
	    </div>
	  </div><!-- /span6 -->
	</div><!-- /row-fluid -->
      </div><!-- /span8 -->
    </div><!-- /row-fluid -->
  </div><!-- /container -->
</section><!-- /section -->

<section class="section" id="section5" data-section="5">
  <div class="container-fluid">
    <div class="row-fluid title">
      <div class="span4">
	<h2>Contact</h2>
      </div><!-- /span4 -->
      <div class="span8 hidden-phone alt"><hr>
      </div><!-- /span8 -->
    </div><!-- /row-fluid -->
    <div class="row-fluid content">
      <div class="span4">
	<h4 class="intro">Drop me a Line!</h4>
	<p>Enough about me, let s hear about you. I am currently available.</p>
	<div class="row-fluid alt">
	  <h5>Email:</h5>
	  <span>rox.shahid@gmail.com</span>
	</div><!-- /row -->
	<div class="row-fluid alt">
	  <h5>Phone:</h5>
	  <span>(+91) 8285309796</span>
	</div><!-- /row -->
	<div class="row-fluid alt">
	  <h5>Linkedin:</h5>
	  <span><a href="http://in.linkedin.com/pub/shahid-ansari/45/897/b78" rel="external">Mohd Shahid</a></span>
	</div><!-- /row -->
      </div><!-- /span4 -->
      <div class="span8">
	<div class="row-fluid">
	  <div class="span12">
	  </div><!-- /span12 -->
	</div><!-- /row-fluid -->
	<!-- <form method="POST" action="#"> -->




	<%= form_for :home, url: users_path do |f| %>
	  


	  <div class="row-fluid">
	    <div class="span6">
	      <div class="control-group">
		<!-- <label for="name" class="control-label">Name:</label> -->
                <%= f.label :name, :class => "control-label" %>
		<div class="controls">
		  <!-- <input class="span12" type="text" name="contact_name" id="name"> -->
		  <%= f.text_field :name, :class => "span12" %>
		</div><!-- /controls -->
	      </div><!-- /control-group -->
	    </div><!-- /span6 -->

	    <div class="span6">
	      <div class="control-group">
		<!-- <label for="email" class="control-label">Email:</label> -->
		<%= f.label :email, :class => "control-label" %>
		<div class="controls">
		  <!-- <input class="span12" type="email" name="contact_email" id="email"> -->
		  <%= f.text_field :email, :class => "span12" %>
		</div><!-- /controls -->
	      </div><!-- /control-group -->
	    </div><!-- /span6 -->

	  </div><!-- /row-fluid -->
	  <div class="row-fluid">
	    <div class="span6">
	      <div class="control-group">
		<!-- <label for="phone" class="control-label">Phone Number:</label> -->
		<%= f.label :phone_no, :class => "control-label" %>
		<div class="controls">
		  <!-- <input class="span12" type="tel" name="contact_phone" id="phone"> -->
		  <%= f.text_field :phone_no, :class => "span12" %>
		</div><!-- /controls -->
	      </div><!-- /control-group -->
	    </div><!-- /span6 -->

	    <div class="span6">
	      <div class="control-group">
		<!-- <label for="website" class="control-label">Your Website:</label> -->
		<%= f.label :website, :class => "control-label" %>
		<div class="controls">
		  <!-- <input class="span12" type="url" name="contact_website" id="website"> -->
		  <%= f.text_field :website, :class => "span12" %>
		</div><!-- /controls -->
	      </div><!-- /control-group -->
	    </div><!-- /span6 -->

	  </div><!-- /row-fluid -->
	  <div class="row-fluid">
	    <div class="span12">
              <div class="control-group">
		<!-- <label for="message" class="control-label">Your Message:</label> -->
		<%= f.label :message, :class => "control-label" %>
		<div class="controls">
		  <!-- <textarea class="span12" type="text" name="contact_message" id="message" rows="4"></textarea> -->
		  <%= f.text_area :text, :class => "span12", :rows => "4" %>
		</div><!-- /controls -->
	      </div><!-- /control-group -->
	    </div><!-- /span12 -->

	  </div><!-- /row-fluid -->
	  <input type="hidden" name="save" value="contact">  
	   <!-- <button type="submit" class="btn-inverse pull-right">
	      Send <span>Message</span>
	      <i><img src="../img/arrow-right.png"></i>
	    </button> -->
	    <%= f.submit :send_Message, :class => "btn-inverse pull-right",  :data => {:toggle => "modal", :target => "#myModal"} %>




<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h3 id="myModalLabel" style="color:#000000">Thank you</h3>
  </div>
  <div class="modal-body">
    <p style="color:#000000">Thank you for maling me</p>
  </div>
  <div class="modal-footer">
    <%= f.submit :Close, :class => "btn"  %>
  </div>
</div>





	<!-- </form> -->
	<% end %>


      </div><!-- /span8 -->	
      <div id="footer">
        <div class="row-fluid">
	  <div class="span12">
	  </div><!-- /span12 -->
	</div><!-- /row-fluid -->	
      </div><!-- /footer -->
    </div><!-- /row-fluid -->	
  </div><!-- /container-fluid -->
</div><!-- /container -->	
</div><!-- /wrapper -->		











